@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title {
    color: #fff;
    font-size: 2.75rem;
    text-align: center;
    font-family: 'BMJUA';
    position: absolute;
    display: block;
    white-space:nowrap;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clock {
    color: #fff;
    font-size: 24px;
    font-family: 'BMJUA';
    position: absolute;
    display: block;

    top: 3.5%;
    left: 1.5%;
    transform: translate(-5%, -2%);
}

@media (max-width: 768px) {
    .title {
        color: #fff;
        font-size: 1.25rem;
        text-align: center;
        font-family: 'BMJUA';
        position: absolute;
        display: block;
        white-space:nowrap;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .clock {
        color: #fff;
        font-size: 24px;
        font-family: 'BMJUA';
        position: absolute;
        display: block;
    
        top: 3.5%;
        left: 7%;
        transform: translate(-5%, -2%);
    }
}

@media (min-width: 769px) {
    .title {
        color: #fff;
        font-size: 1.25rem;
        text-align: center;
        font-family: 'BMJUA';
        position: absolute;
        display: block;
        white-space:nowrap;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .clock {
        color: #fff;
        font-size: 24px;
        font-family: 'BMJUA';
        position: absolute;
        display: block;
    
        top: 3.5%;
        left: 7%;
        transform: translate(-5%, -2%);
    }
}


@media (min-width: 992px) {
    .title {
        color: #fff;
        font-size: 2.75rem;
        text-align: center;
        font-family: 'BMJUA';
        position: absolute;
        display: block;
        white-space:nowrap;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .clock {
        color: #fff;
        font-size: 24px;
        font-family: 'BMJUA';
        position: absolute;
        display: block;
    
        top: 3.5%;
        left: 1.5%;
        transform: translate(-5%, -2%);
    }
}







body {
    overflow: hidden;
}
 
.fa-snowflake {
	animation: fall 5s linear forwards;
	color: #fff;
	position: absolute;
}
 
@keyframes fall {
	to {
		transform: translateY(90vh);
	}
}


.musicBtn {
    position: absolute;
    width: 19.75px;
    top: 55.75%;
    left: 50%;
    transform: translate(-55%, -50%);
}
